<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Expired Posts</title>
</head>
<body>
    <h1>Blog Post Management</h1>
    <button id="deletePostButton">Delete Expired Posts</button>
    <button id="deleteBattleButton">Delete Battles</button>
    <button id="homeButton">Return to Home Page</button>

    <script>
        document.getElementById('deletePostButton').addEventListener('click', function() {
            fetch('/deleteposts', {
                method: 'POST'
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
        document.getElementById('deleteBattleButton').addEventListener('click', function() {
            fetch('/delete_battle', {
                method: 'POST'
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });

        document.getElementById('homeButton').addEventListener('click', function() {
            window.location.href = '/';
        });
    </script>
</body>
</html>